#项目配置项
guanglin.project.name=广本北京监测报告

#选择datasource类型：excel 或者 database
guanglin.datesource=excel

#Excel配置项
guanglin.datasource.excel.folder=./tst/resources/excel/
guanglin.datasource.excel.file=广本北京监测报告.xlsx

#图片路径
guanglin.imagesource.folder=./tst/resource/images/

#database配置项
#guanglin.datesource.conn.usr
#guanglin.datasource.conn.pwd

#生成的PPT配置项，生成的ppt将会和数据文件同名
guanglin.output.folder=./resource/output/


# PPT 配置
#模版地址
guanglin.ppt.template.path=/Users/pengyao/Workspaces/personal/guanglin-new/tst/resources/template/template.ppt
#模版配置
guanglin.ppt.template.config=/Users/pengyao/Workspaces/personal/guanglin-new/configuration/template.config.json
#项目配置
guanglin.ppt.project.config=